# Ignore Node modules
node_modules

# Ignore log files
*.log

# Ignore environment files
.env

# Development notes
notes

# Ignore compiled files
dist

# Ignore documentation folder
docs

# Ignore test coverage data
coverage

# Ignore compiled gulpfile
gulpfile.js

# Ignore compiled test files
test/dist
